{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnostic Center</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1>Welcome to Our Diagnostic Center</h1>
    </header>

    <nav>
        <a href="#services">Services</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="/accounts/login">Login</a>
        <a href=""></a>
    </nav>

    <div class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="/doctor/home">Doctor Dashboard</a></li>
            <li><a href="/doctor/write_prescription">Write Prescription</a></li>
            <li><a href="/laboratory/add_lab_test">Add Lab Test</a></li>
            <li><a href="/laboratory/view_reports">View Reports</a></li>
            <li><a href="/laboratory/view_appointment_requests">View Appointment Requests</a></li>
            <li><a href="/accounts/register">Register</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/patient/patient_profile">Patient Profile</a></li>
        </ul>
    </div>

    <main>
        <section id="services">
            <h2>Our Services</h2>
            <p>We offer a wide range of diagnostic tests to meet your needs, including blood testing, imaging, and more.
            </p>

            </p>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>Our Diagnostic Center has been serving the community with state-of-the-art technology and expert care.
            </p>
        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>Email: info@diagnostic-center.com</p>
            <p>Phone: +123 456 789 0</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Diagnostic Center RP MP</p>
    </footer>
</body>

</html>