{% extends 'base.html' %}

{% block title %}Laboratory Home - Diagnostic Center{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome to the Laboratory Dashboard</h2>
    <p>Manage your lab tests and appointments here.</p>
    <div class="dashboard-links">
        <ul>
            <li><a href="{% url 'regiseter_sample' %}">Register Sample</a></li>
            <li><a href="{% url 'enter_test_result' %}">Enter Test Result</a></li>
            <li><a href="{% url 'upload_report' %}">Upload Report</a></li>
            <li><a href="{% url 'view_lab_tests' %}">View Lab Tests</a></li>
            <li><a href="{% url 'view_reports' %}">View Reports</a></li>
            <li><a href="{% url 'view_appointment_request' %}">View Appointment Requests</a></li>
        </ul>

    </div>
</div>
{% endblock %}