{% extends 'base.html' %}

{% block title %}Search Patient - Diagnostic Center{% endblock %}

{% block content %}
<div class="container">
    <h2>Search Patient</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search">
        </div>
        <button type="submit" class="auth-button">Search</button>
    </form>

    {% if patients %}
    <h3>Results:</h3>
    <ul>
        {{ for patient in patients }}
        <li>
            {{ patient.username }} -
            <a href="{% url 'create_test_order' patient.id}">Order Test</a>
            <a href="{% url 'write_prescription' patient.id}">Write Prescription</a>
        </li>
        {% endfor %}
    </ul>
    {% elif request.method == "POST" %}
    <p>No patients found.</p>
    {% endif %}
</div>
{% endblock %}